<div class="container">
  <div class="row no-margin">
    <div id="left-side" class="col-4">
      {{!-- <img src="/assets/img/spencer-davis-o_XkavUaGEw-unsplash.jpg" alt="diner"> --}}
    </div>
    <div id="right-side" class="col-8">
      <div class="jumbotron fluid">
        <h1 id="name">Diner 55  - Server-Kitchen Order System</h1>
        <h3>Submit Order to Kitchen /  Order Up </h3>
        <hr>
        <h4>Enter new order OR mark order as ready</h5>
        <hr>
        <h5>
          {{> diner/diner-hello }}
        </h5>
      </div>
    </div>
  </div>

</div>

 


