<div class="container">
  <div class="row no-margin">
    <div id="left-side" class="col-4">
      {{!-- <img src="/assets/img/spencer-davis-o_XkavUaGEw-unsplash.jpg" alt="diner"> --}}
    </div>
    <div id="right-side" class="col-8">
      <div id="pickup" class="jumbotron fluid">
        <h1 >Diner 55</h1>
        <h2 >Server Kitchen Order Up System</h1>
        <h4>Orders Ready for Pickup</h5>
        <h6>
          <table>
            <tr>
              <th></th>
              <th>Server</th>
              <th>Order Description</th>
              <th>Order Number</th>
            </tr>
            {{#each orders}}
              {{#unless is_served}}
                 {{> orders/order-item newserve=true}}
              {{/unless}}
            {{/each}}
          </table>
        </h6>
      </div>
      <div id="order-form" class="row">
        <div class="col">
          <form>
            <div class="form-group">
              <label for="order-input">Enter order</label>
              <input type="text" class="form-control" id="order" placeholder="">
            </div>
            <div class="form-group">
              <label class="server-label" id="server-list" for="server-list"></label>
              <select class="form-control" id="server-selection">
              </select>
            </div>
            <input id="submit" class="btn btn-success" type="submit" value="Submit">
          </form>
        </div>
      </div>
      <div id="ready" class="jumbotron fluid">
        <h4 >Orders Served</h4>

        <h6>
          <table>
            <tr>
              <th></th>
              <th>Server</th>
              <th>Order Description</th>
              <th>Order Number</th>
            </tr>
            {{#each orders}}
              {{#if is_served}}
                {{> orders/order-item newserve=true}}
              {{/if}}  
            {{/each}}
         </table>
        </h6>
      </div>

    </div>
  </div>

</div>

<div id="my-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content custom">
      <div class="modal-header">
        <h5 class="modal-title">Enter Order for Kitchen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please fill in both order and select a server</p>
        <p>Thank you.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

 


