<div class="container">
  <div class="row no-margin">
    <div id="left-side" class="col-4">
      {{!-- <img src="/assets/img/spencer-davis-o_XkavUaGEw-unsplash.jpg" alt="diner"> --}}
    </div>
    <div id="right-side" class="col-8">
      <div id="pickup" class="jumbotron fluid">
        <h1 >Diner 55  - Server-Kitchen Order System</h1>
        <h3>Submit Order to Kitchen /  Order Up </h3>
        <hr>
        <h4>Enter new order OR mark order as ready</h5>
        <hr>
        <h6>
          <ul>
            {{#each orders}}
              {{#unless is_served}}
                 {{> orders/order-item newserve=true}}
              {{/unless}}
            {{/each}}
          </ul>
        </h6>
      </div>
      <div id="ready" class="jumbotron fluid">
        <h1 >Orders Ready:</h1>

        <h6>
          <ul>
            {{#each orders}}
              {{#if is_served}}
                {{> orders/order-item newserve=true}}
              {{/if}}  
            {{/each}}
          </ul>
        </h6>
      </div>

    </div>
  </div>

</div>

 


