
.row.no-margin {
  margin: 0 ! important;
  padding: 0 ! important;
}
 
.body {
  margin: 0px;
  padding: 0px;

}

.container {
  margin: 0 ! important;
  padding: 0 ! important;
}

#pickup  {
  background-color: red;
  color: white;
  border-radius: 0px;
  margin: 0px;
} 
#ready  {
  background-color: black;
  color: white;
  border-radius: 0px;
  margin: 0px;
} 

#left-side {
  /* background-color: aquamarine; */
  background-image: url(/assets/img/spencer-davis-o_XkavUaGEw-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: center;
  height: 750px;
}

#right-side {
  /* background-color: chartreuse; */
  padding: 0px;
  margin: 0px;
}